.search-wrapper-div {
  background: #003366;
  float:left;
  width:100%;
}

.high-max-width {
  max-width: 90%;
}

.title-header {
  color: #5b616b;
}

.title-wrapper {
  margin-bottom: 15px;
}

.search-input-div {
  margin-top: 2.5rem;
  margin-bottom: 1.5em;
}

.search-input-div-small-margin {
  margin: .2em 0;
}

.search-form {
  max-width: 100%;
}

.search-form-input {
  margin: .2em 0;
  height: 40px;
}

.div-with-left-margin {
  margin-left: 15px;
}

#search-table_wrapper {
  padding-bottom: 0px;
}