#new_note_added_success {
  padding: 15px 30px;
  background-color: #FFFFFF;
  border: 2px solid #457500;
  margin-bottom: 0px;
}

#new_self_lock_note_error {
  padding: 15px 30px;
  margin-bottom: 0px;
}

.no-left-padding {
  padding-left: 0px;
}

.success-text-no-background {
  color: #457500;
  background-color: #FFFFFF;
}