#total_hiring_sites {
  border: black solid 1px;
  text-align: center;
  margin-top: 10px;
}

#add-hiring-sites-btn {
  display: block;
  margin-top: 10px;
}

.hiring-site-state-section, .state-section-title {
  background: #F2F2F2;
}
