.review_and_submit .col-md-4 span:first-child {
  display: block;
  font-weight: bold;
}

.review_and_submit .col-md-4 {
  margin-bottom: 10px;
}

.review_and_submit .col-md-6 span:first-child {
  display: block;
  font-weight: bold;
}

.review_and_submit .col-md-6 {
  margin-bottom: 10px;
}

.grey {
  background: #F2F2F2;
}

.review-category-title {
  display: block;
  font-weight: bold;
}

.block {
  display: block;
}

.edit-footer {
  border-top: 1px solid #e5e5e5;
  background: #F2F2F2;
  padding: 10px;
  margin-bottom: 20px;
}

#review_and_submit .jumbotron {
  margin: 0;
}

.red {
  color: red;
}

.review-panel-header {
  background: #FAF7BA;
  color: #333;
}

.review-panel-body {
  background: #FCFAD1;
}
