// -----------------------------------------------------------------------------
//! TYPOGRAPHY
// -----------------------------------------------------------------------------

	$font-size-xs: .75rem;
	$font-size-sm: .8125rem;
	$font-size-md: 1rem;

	$weight-med: 500;
	$weight-bold: 600;
	
	$letter-spacing-default: .1em;
	
	$hidden-text: -500rem;
