<!DOCTYPE html>
<html>

<head>
    <title>Status Verification System</title>
    <%= stylesheet_link_tag    "enrollment_style_guide/application", media: "all" %>
            <%= csrf_meta_tags %>
</head>

<body>
    <header></header>
    <main>
        <%= yield %>
    </main>
    <footer>
    </footer>
</body>

</html>
